md-radio-button{
    display:flex;
    margin-bottom:5px;
}

.possibleAnswerCheckbox{
    margin-bottom:4px;
}

md-input-container{
    width:100%;
    border: solid lightgrey 1px !important;
}

button{
    margin-top: 15px;
   float:right;

}
.quizfooter{
    padding-top: 10px;
    width:75%;
    min-width: 150px;
    margin:auto;
}
p{
    margin-top:15px;
}

#questionText{
    margin-bottom: 10px;
}
.questionhint{
    font-size: 13px;
}
