<aq-quizprogress [currentQuestionNumber]="currentQuestionNumber" [quizlength]="questionService.questions.length"></aq-quizprogress>
<p>Bitte lösen Sie folgende Aufgabe:</p>
<div id="questionText">{{currentQuestion?.questionText}}</div>
<div [ngSwitch]="currentQuestion?.type">
  <div *ngSwitchCase="'FreeTextQuestion'">
    <div class="questionhint">Tragen Sie ihre Antwort hier ein:</div>
    <md-input-container>
      <textarea mdInput [rows]="10" [disabled]="currentQuestion?.takenTime>=0" [(ngModel)]="answer"></textarea>
    </md-input-container>
  </div>
  <div *ngSwitchCase="'SingleChoiceQuestion'">
    <div class="questionhint">Nur eine Antwort ist möglich.</div>
      <md-radio-group [(ngModel)]="answer">
        <md-radio-button *ngFor="let possibleAnswer of currentQuestion?.possibleAnswers" [disabled]="currentQuestion?.takenTime>=0" [value]="possibleAnswer">{{possibleAnswer}}</md-radio-button>
      </md-radio-group>
  </div>
  <div *ngSwitchCase="'MultipleChoiceQuestion'">
   <div class="questionhint">Mehrfachauswahl möglich.</div>
    <div class="possibleAnswerCheckbox" *ngFor="let possibleAnswer of currentQuestion?.possibleAnswers">
    <md-checkbox [disabled]="currentQuestion?.takenTime>=0" (change)="updateMultipleChoiceAnswer(possibleAnswer)">{{possibleAnswer}}</md-checkbox>
    </div>
  </div>
</div>
<div class="quizfooter">
<aq-timer></aq-timer>
<button md-raised-button (click)=nextQuestion()>Weiter</button>
</div>
