md-input{
    margin-top:17px;
    max-width:350px;
    display:flex;
}

.attendeeFormWrapper{
    max-width: 360px;
    margin: 0 auto;
}

button{
   float:right;

}
control-messages{
    color:red;
}
.quizhint{
    margin-top:55px;
    clear:both;
    font-size: 13px;
}

.questionsError{
  margin-top: 40px;
  color: red;
  font-size: 14px;
  padding: 10px;
  border: solid red;
}
