<div class="attendeeFormWrapper">
<h3>Bewerberquiz</h3>
<form [formGroup]="attendeeForm">

  <!-- css::before for invalid forms-->
  <md-input-container>
  <input mdInput formControlName="firstname" type=text placeholder="Vorname"><md-hint><control-messages [control]="attendeeForm.controls.firstname"></control-messages></md-hint>
  </md-input-container>
  <md-input-container>
  <input mdInput formControlName="lastname" type=text placeholder="Nachname"><md-hint><control-messages [control]="attendeeForm.controls.lastname"></control-messages ></md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput formControlName="email" type=text placeholder="Email"><md-hint><control-messages [control]="attendeeForm.controls.email"></control-messages></md-hint>
  </md-input-container>
    <button md-raised-button type="button" (click)="setAttendee()" [disabled]="!attendeeForm.valid">Quiz starten</button>
</form>
<div class="questionsError" *ngIf="questionsError">
  {{questionsError}}
</div>
<div class="quizhint">
<b>Infos zum Quiz:</b>
<ul>
<li>Bei jeder Frage wird die verbleibende Zeit angezeigt. Diese dient als Richtwert, auch nach Ablauf der Zeit kann die Antwort gespeichert werden.</li>
<li>Jede Frage kann nur einmal beantwortet werden.</li>
<li>Ein Aktualisieren der Seite führt zum Abbruch des Quiz</li>
<li>Um das Quiz zu beginnen, tragen Sie bitte Ihren Vornamen, Nachnamen und eine gültige Email-Adresse ein.</li>
</ul>
</div>
</div>

